.ItemBlock1 {
	width: 100%;
	text-align: left;
	border: 3px solid #f3f8fc;
	background: #ffffff;
	height:100%;
}

.indexArea_title {
	filter:dropshadow(color=#FFFFFF,offX=1,offY=1,Positive=1);
	font-size: 10pt;
	font-weight: bold;
	color: #0A66A0;
	height:1;
}

.indexArea_bar_bg_left {
	background-image: url(images/index_bar_left.gif);
	width: 6px;
}

.indexArea_bar_bg{
	background-image: url(images/index_bar_bg.gif);
}

.indexArea_bar_bg_right {
	background-image: url(images/index_bar_right.gif);
	width: 5px;
}

.indexArea_Main_table {
	border-left: solid 1px #4986D4;
	border-right: solid 1px #4986D4;
	border-bottom: solid 1px #4986D4;
	background: #FFFFFF;
}

.ItemBlockBorder1 {
	width: 87%;
	text-align: left;
	border: 1px solid #91c0e3;
	float:right;
	height:100%;
}

#MainArea1 {
	width: 100%;
	height:100%;
	background: url(images/inputPageHeadBg.gif) repeat-x;
	border-top: 2px solid #ffffff;
}

#TableData1 {
	width: 100%;
}

#TableData1 td {
	height: 24px;
	vertical-align: middle;
	border-top: 1px solid #d2d2d2;
	padding-left: 8px;
}
