#PageHead {
	height: 10px;
}

.ButtonStyle {
	border: 1px solid #DAAB67;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffffff,endcolorstr=#F7DDA4,gradientType=0);
	color: #8E4400;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 1px;
	cursor: pointer;
}

select {
	HEIGHT: 18px; 
	BACKGROUND-COLOR: #FFFFFF;
	font-size: 12px;
	color: #B14408;
}

table {
	border-collapse:collapse;
}

table td {
	empty-cells : show;
}

TEXTAREA {
	height: 100%;
	width: 100%;
}

.scrollStyle {
	overflow: auto;
	height: 100%;
}

.writeTD {
	BORDER: #EBA552 1px solid; 
}

.InputAreaStyle {
	border: #EBA552 1px solid; 
	width: 100%;
	height: 95%;
	background-color: #FFFFFF;
	color: #B14408;
	font-size:13px;
}

.InputAreaStyle1 {
	BORDER: #EBA552 1px solid; 
	width: 37.67%;
	HEIGHT: 95%; 
	BACKGROUND-COLOR: #FFFFFF;
	color: #B14408;
	font-size:13px;
}

.InputAreaStyle_Edit {
	BORDER: #EBA552 1px solid; 
	width: 200px;
	height: 100px;
	BACKGROUND-COLOR: #FFFFFF;
	color: #B14408;
	font-size:13px;
}

.InputStyle {
	BORDER: #EBA552 1px solid; 
	width: 100%;
	HEIGHT: auto; 
	BACKGROUND-COLOR: #FFFFFF;
	color: #B14408;
}

.InputStyle1 {
	BORDER: #EBA552 1px solid; 
	color: #B14408;
	BACKGROUND-COLOR: #FFFFFF;
	width: 100%;
	HEIGHT: 22px;
	padding:3px;
	font-size:10pt;
}

.InputStyle2 {
	BORDER: #EBA552 1px solid; 
	BACKGROUND-COLOR: #FFFFFF;
	color: #B14408;
}

.InputStyle_Edit {
	BORDER: #EBA552 1px solid; 
	BACKGROUND-COLOR: #FFFFFF;
	color: #B14408;
}

.disabledInput {
	BORDER: #EBA552 1px solid; 
	width: 100%;
	HEIGHT: auto; 
	BACKGROUND-COLOR: #FFFFFF;
}

.errorInput {
	BORDER: #EBA552 1px solid; 
	HEIGHT: auto; 
	BACKGROUND-COLOR: #F8E5E4;
	color: #B14408;
}
.errorInputDate {
	BORDER: #EBA552 1px solid; 
	HEIGHT: auto; 
	BACKGROUND-COLOR: #F8E5E4;
	color: #B14408;
}
.notWrite {
	BORDER: #EBA552 0 solid; 
	HEIGHT: auto; 
	BACKGROUND-COLOR: transparent;
	color: #B14408;
}

.notWriteByTextArea {
	BORDER: #EBA552 0 solid; 
	HEIGHT: 100%;
	BACKGROUND-COLOR: transparent;
	color: #B14408;
}

.SelectStyle {
	width: 100%;
	border: #EBA552 1px solid; 
	color: #B14408;
}

.SelectStyle_60 {
	width: 60%;
	border: #CCCCCC 1px solid; 
	color: #616161;
}

.SelectStyle_Edit {
	border: #EBA552 1px solid; 
	color: #B14408;
}

.SelectStyle_City {
	border: #EBA552 1px solid; 
	color: #B14408;
	font-size:10pt;
	width:100px 
}

.MoveButtonStyle{
	height: 20px;
	width: 20px;
	font-family: Webdings;
	background-color: #ffc775;
	border: 1px solid #b1081f;
	color: #b1081f;
	
}

.DetailBlock {
	width: 220px;
	height: 35px;
	line-height: 18px;
	float: left;
}

.FileDetailBlock {
	height: 35px;
	line-height: 18px;
	float: left;
}

.DetailBlock img {
	margin-bottom: -3px;
}

#PageSelectorSelectorArea {
	float: right;
}

#PageSelectorMemo {
	float: left;
	padding-top: 5px;
	line-height: 18px;
}

.PageSelectorSelected {
	color: #FF0000;
}

#PageSelectorHead {
	width: 20px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	font-family: webdings;
	background: url(images/pageSelectorBefore_bg.gif) no-repeat;
	background-position: 0 1px;
}

#PageSelectorHeadOut{
	width: 20px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	padding-right:1px;
	display: inline-block;
	font-family: webdings;
	background: url(images/pageSelectorBeforeOut.gif) no-repeat;
	background-position: 0 1px;
}

#PageSelectorEnd {
	width: 20px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	font-family: webdings;
	background: url(images/pageSelectorNext_bg.gif) no-repeat;
	background-position: 0 1px;
}

#PageSelectorEndOut {
	width: 20px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	font-family: webdings;
	background: url(images/pageSelectorNextOut_bg.gif) no-repeat;
	background-position: 0 1px;
}

#PageSelectorNum {
	margin: 0 auto;
	text-align: center;
	background: url(images/pageSelector_bg.gif) no-repeat;
	background-position: 0 3px;
	padding-top: 4px;
	display: inline-block;
	width: 20px;
	height: 20px;
	font-family: ו;
}

#PageSelectorBar input {
	height: 18px;
	width: 20px;
	font-family: ו;
	border: 1px solid #B55D0D;
}

#PageSelectorBar A:link {
	COLOR: #B55D0D; TEXT-DECORATION: none;
}

#PageSelectorBar A:visited {
	COLOR: #B55D0D; TEXT-DECORATION: none;
}

#PageSelectorBar A:active {
	COLOR: #B55D0D; TEXT-DECORATION: none;
}

#PageSelectorBar A:hover {
	COLOR: #B55D0D; TEXT-DECORATION: none;
}

#Calendar {
	scrolling: no;
	border:1px solid #EEEEEE;
	position: absolute;
	width: 160px; 
	height: 140px;
	z-index: 200; 
	filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,color=#dddddd,strength=5);
}

.Time_Header {
	width: 160px;
	height: 25px;
	background-color: #f3f4f6;
	color: #0b333c;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	line-height: 25px;
	border-bottom: 1px solid #b7babc;
}

.Time_lastMonth {
	float: left;
	cursor: pointer;
	width: 20px;
}

.Time_nextMonth {
	float: right;
	cursor: pointer;
	width: 20px;
}

.Time_title {
	float:left;
	width: 30px;
	text-align: right;
}

#ChangeYear td {
	padding-bottom: 2px;
	cursor: pointer;
}

.inputdate {
	border:#EBA552 1px solid;
	font-size: 13px;
	font-style: normal;
	height: 16px;
	color:#B95D36;
}

#Time_Date {
	background: #ffffff;
	color: #2b333c;
	font-size: 13px;
}

#Time_Date td {
	cursor: pointer;
}

.SelectedDate {
	background: #818181;
	color: #ffffff;
}

#Time_Tail {
	float: right; 
	padding-right: 10px; 
	height:20px;
	cursor: pointer;
}

.updownStyle {
	width: 15px;
	height: 7px;
	font-size: 6Pt;
}

.TdBlue {
	BACKGROUND-COLOR: blue;
}

.Move_font {
	font-weight: normal;
	font-family: Webdings;
	color: #46A523;
}

.DotButton {
	border: 1px solid #DAAB67;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffffff,endcolorstr=#FFCB80,gradientType=0);
	color: #8E4400;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 1px;
	cursor: pointer;

}
.InputList {
	padding-top: 5px;
	line-height: 20px;
}

.FontBeforeLine {
	margin-left: 5px;
	background: url(images/line.gif) repeat-x;
	background-position: 0 10px;
	line-height: 20px;
	text-align: right;
	width: 85%;
	float: left;
	margin-right: 5px;
	height: 30px;
}

.TagItemBtnStyle {
	border-left: 1px solid #DAAB67;
	border-right: 1px solid #DAAB67;
	border-top: 1px solid #DAAB67;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffffff,endcolorstr=#FFCB80,gradientType=0);
	color: #004a7d;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 2px;
	margin-left: 3px;
	margin-right: 3px;
	cursor: pointer;
	float: left;
}

