A:link {
	COLOR: #D4E88F; TEXT-DECORATION: none
}

A:visited {
	COLOR: #D4E88F; TEXT-DECORATION: none
}

A:active {
	COLOR: #D4E88F; TEXT-DECORATION: none
}

A:hover {
	COLOR: #DDF3BD; TEXT-DECORATION: none;
}

#StatusBar {
	width: 100%;
	height: 21px;
	margin:0;
	border-top: 1px solid #ffffff;
	background: #5FA93B;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#5FA93B,endcolorstr=#70C845,gradientType=0);
}

#Online {
	padding-left: 16px;
	padding-top: 6px;
	color: #D4E88F;
	font-family: 宋体;
	font-size: 12px;
	float: left;
}

.OnlineUser {
	color: #ffffff;
	font-family: 宋体;
	font-size: 12px;
	font-weight:bold;
}

.OnlineView {
	padding-left: 16px;
	color: #D4E88F;
	font-family: 宋体;
	font-size: 12px;
}

#Info {
	padding-left: 20px;
	padding-top: 6px;
	color: #D4E88F;
	font-family: 宋体;
	font-size: 12px;
	float: left;
}

#TryoutInfo {
	padding-right: 20px;
	padding-left: 20px;
	color: #D4E88F;
	font-family: 宋体;
	font-size: 12px;
}

#DesktopText {
	padding-right: 20px;
	padding-top: 6px;
	color: #D4E88F;
	font-family: 宋体;
	font-size: 12px;
	float: right;
}

#DesktopText img {
	margin-bottom: -3px;
}

#Version {
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: -2px;
}
