#TableTitle {
	height: 25px;
}

#TableTitle td {
	height: 25px;
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #ffffff;
	border-top: 1px solid #d2d2d2;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#e6e6e6,endcolorstr=#ffffff,gradientType=0);
}

#TableData td {
	height: 24px;
	vertical-align: middle;
	border-top: 1px solid #d2d2d2;
	padding-left: 8px;
}

#TableData tr.TableDetail1 {
	background-color: #ffffff;
	vertical-align: bottom;
	height: 22px;
}

#TableData tr.TableDetail2 {
	background-color: #ffffff;
	height: 22px;
}

#TableData tr.selectLine {
	background-color: #FFDBA6;
	height: 22px;
}

.TableStyle {
	font-size: 12px;
	color: #B55D0D;
	width: 100%;
}

#PageSelectorMax {
	height: 10px;
	width: 100%;
	font-size: 12px;
	color: #FF0000;
	font-family: ו;
	padding-left: 26px;
}

#PageSelectorBar {
	height: 20px;
	width: 100%;
	padding-left: 26px;
	padding-right: 15px;
	font-size: 12px;
	color: #B55D0D;
}

#FilePath {
	border: 1px solid #EBA552;
	height: 23px;
	width: 95%;
	background: #ffffff;
}

#FilePath div.PathTitle {
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#FBFAEF,endcolorstr=#FAEEC6,gradientType=0);
	padding-left: 5px;
	padding-right: 8px;
	padding-top: 5px;
	vertical-align: middle;
	border-right: 1px solid #EBA552;
	width: 100px;
	float: left;
	height: 100%;
	color: #EBA552;
}

#FilePath div.PathShow {
	height: 100%;
	float: left;
	padding-top: 8px;
	padding-left: 5px;
	color: #aeaeae;
}

#FilePath div.PathEnd {
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#FBFAEF,endcolorstr=#FAEEC6,gradientType=0);
	height: 100%;
	float: right;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid #EBA552;
	color: #4891c6;
}

#SpaceShowArea {
	float: left;
	width: 100%;
	border-top: 1px solid #FFC775;
	border-bottom: 1px solid #FFC775;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ddedf8,endcolorstr=#f3f9fc,gradientType=0);
	color: #4891c6;
	height: 35px;
	padding-left: 3px;
	padding-top: 3px;
}

#SpaceShowArea div.SpaceTitle {
	padding-left: 15px;
	padding-right: 8px;
	padding-top: 8px;
	vertical-align: middle;
	float: left;
	height: 100%;
	width: 120px;
}

#SpaceShow {
	float: left;
	height: 20px;
	width: 300px;
	padding: 1px;
}

.show{
	left: 110px;
	height: 20px;
	width: 300px;
	padding: 1px;
	color: #004b82;
	border: 1px solid #FFC775;
	background: #ffffff;
	position:absolute;
	z-index: 1;
}

.number {
	color: #004b82;
	padding-top: 3px;
	padding-left: 130px;
	font-weight: bold;
	position:absolute;
	z-index: 2;
}

#SpaceShowArea div.SpaceEnd {
	float: left;
	padding-top: 8px;
	padding-left: 22px;
}

.TableTailLine1 {
	width: 100%;
	border-top: 2px solid #e6e6e6;
}

.TableTailLine2 {
	width: 100%;
	margin-top: 1px;
	border-top: 1px solid #d2d2d2;
}

#left{
	float: left;
	background: url(images/title_bg_head.gif) no-repeat;
	height: 28px;
	width: 5px;
}


#content {
	float: left;
	background: url(images/title_bg.gif) repeat-x;
	height: 28px;
	color: #004a7d;
	font-size: 14px;
	font-family: ו;
	font-weight: bold;
	padding-left: 3px;
	padding-top: 8px;
	padding-right: 30px;
}

#right {
	float: left;
	background: url(images/title_bg_end.gif) no-repeat;
	height: 28px;
	width: 80px;
}
#TableTitle1 {
	float: left;
	width: 100%;
	height: 25px;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#e6e6e6,endcolorstr=#ffffff,gradientType=0);
}
#TableTitle1 td {
	height: 25px;
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #ffffff;
}#TableData1 {
	width: 100%;
}
#TableData1 td {
	height: 24px;
	vertical-align: middle;
	border-bottom: 1px solid #d2d2d2;
	padding-left: 8px;
}
