body {
	background-color: #387f2d;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#387F2D,endcolorstr=#387F2D,gradientType=0);
	margin:0px;
	padding:0px;
}

#CenterAreaBg {
	float: left;
	position:absolute;
	top:0;
	left:0;
	background: url(images/login_bg.gif) repeat-x;
	width: 100%; 
	height: 569px;
	text-align:center;
}

#CenterArea {
	left: 200px;
	background: url(images/login.gif) no-repeat;
	height: 569px;
	width: 776px;
	margin-left:auto;
	margin-right:auto;
}

#LogoImg {
	padding-left: 180px;
	padding-top: 200px;
	float: left;
}

#LoginInfo {
	padding-top: 30px;
	padding-left: 180px;
	float: left;
	height: 145px;
}

#LoginInfo tr {
	height: 23px;
}

.Subject {
	color: #a7c4d7;
	font-family: ºÚÌå;
	font-size: 11pt;
	padding-left: 15px;
	padding-right: 9px;
	text-align: justify;
}

.TextField {
	color: #599950;
	font-size: 12px;
	width: 168px;
	height: 19px;
	padding-right: 9px;
}

.PopUpButton {
	color: #599950;
	font-size: 12px;
	width: 100%;
	height: 19px;
}

#LoginBtn {
	float: right;
	padding-top: 30px;
	padding-right: 270px;
	width: 100px;
}

#ImgCode {
	padding-top: 1px;
	padding-left: 2px;
	float: left;
}

.TextField_ImgCode {
	color: #599950;
	font-size: 12px;
	width: 105px;
	height: 19px;
}

#CopyRight {
	padding-top: 15px;
	padding-left: 450px;
	float: left;
	color: #4c91bf;
	font-size: 12px;
}

#CopyRight A:link {
	COLOR: #9ACC59; TEXT-DECORATION: none;
}

#CopyRight A:visited {
	COLOR: #9ACC59; TEXT-DECORATION: none;
}

#CopyRight A:active {
	COLOR: #9ACC59; TEXT-DECORATION: none;
}

#CopyRight A:hover {
	COLOR: #BEEE7F; TEXT-DECORATION: none;
}

#Item {
	float: left;
	color: #9ACC59;
	font-size: 12px;
	padding-top: 7px;
}

#Item A:link {
	COLOR: #9ACC59; TEXT-DECORATION: none;
}

#Item A:visited {
	COLOR: #9ACC59; TEXT-DECORATION: none;
}

#Item A:active {
	COLOR: #9ACC59; TEXT-DECORATION: none;
}

#Item A:hover {
	COLOR: #BEEE7F; TEXT-DECORATION: none;
}